@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');

*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, html {
  min-height: 100%;
  background-image: linear-gradient(to bottom right, #B9CBCD, #b9d2d2);
  scroll-behavior: smooth;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.bg-text {
  color: #B0A15C;
}

.bg-text h1 {
  font-family: 'Forum', serif;
  font-size: 80px;
  padding: .5rem 0;
}
.bg-text p {
  padding: .5rem 0;
  font-size: 40px;
}

.bg-text p .bold {
  font-weight: 600;
}

.dr__ltr {
  display: flex;
  flex-direction: row;
  padding: .5em;
  font-size: 60px;
  font-family: serif;
}

.d__ltr {
  padding-bottom: .4em;
}

.r__ltr {
  margin-top: .4em;
}

button {
  padding: .5em;
  background-color: #B0A15C;
  color: #B9CBCD;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #b7a34c;
}

/* .bg-text {
  text-decoration: none;
  color: #B0A15C;
} */